In [2]:
pip install pandas

Requirement already satisfied: pandas in d:\conda\envs\gemini_env\lib\site-packages (2.3.3)
Requirement already satisfied: numpy>=1.23.2 in d:\conda\envs\gemini_env\lib\site-packages (from pandas) (2.3.5)
Requirement already satisfied: python-dateutil>=2.8.2 in d:\conda\envs\gemini_env\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in d:\conda\envs\gemini_env\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in d:\conda\envs\gemini_env\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in d:\conda\envs\gemini_env\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

In [3]:
import pandas as pd

In [4]:
df=pd.read_csv('vehicle_log.csv')

In [5]:
df

        id vehicle_type  confidence            timestamp
0        1          car       0.906  2025-12-08 15:14:04
1        2          car       0.841  2025-12-08 15:14:04
2        3          car       0.824  2025-12-08 15:14:04
3        4          car       0.794  2025-12-08 15:14:04
4        5          car       0.725  2025-12-08 15:14:04
...    ...          ...         ...                  ...
2260  1223          car       0.858  2025-12-08 15:15:11
2261  1179          car       0.637  2025-12-08 15:15:12
2262  1197          car       0.846  2025-12-08 15:15:12
2263  1218          car       0.771  2025-12-08 15:15:12
2264  1223          car       0.859  2025-12-08 15:15:12

[2265 rows x 4 columns]

In [8]:
df['id'].nunique()

271

In [9]:
df['timestamp'].head()

0    2025-12-08 15:14:04
1    2025-12-08 15:14:04
2    2025-12-08 15:14:04
3    2025-12-08 15:14:04
4    2025-12-08 15:14:04
Name: timestamp, dtype: object

In [10]:
df['timestamp'].tail

<bound method NDFrame.tail of 0       2025-12-08 15:14:04
1       2025-12-08 15:14:04
2       2025-12-08 15:14:04
3       2025-12-08 15:14:04
4       2025-12-08 15:14:04
               ...
2260    2025-12-08 15:15:11
2261    2025-12-08 15:15:12
2262    2025-12-08 15:15:12
2263    2025-12-08 15:15:12
2264    2025-12-08 15:15:12
Name: timestamp, Length: 2265, dtype: object>